---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">

  {% include header.html %}

  <main class="💈">

    {{ content }}

  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/littlefoot.js' | prepend: site.baseurl }}" type="application/javascript"></script>
  <script type="application/javascript">littlefoot.default()</script>
</body>
</html>
